# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
/hospital_api/.idea/
/hospital_app/.idea/
/hospital_api/.idea
/hospital_app/.idea
# dependencies
/hospital_api/node_modules
/hospital_app/node_modules

/hospital_api/build
/hospital_app/build

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
